<IfModule mod_rewrite.c>
  RewriteEngine On

  # Pokud existuje fyzická složka nebo soubor, nesměřovat na rewrite
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Rozpoznání 36-znakového UUID/GUID v kořenové URL a nasměrování na index.html dané složky
  RewriteRule ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})/?$ $1/index.html [L,QSA]
</IfModule>
