# Zabránění výpisu adresáře pro ochranu soukromí
Options -Indexes

# Přesměrování přímých neautorizovaných přístupů
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{QUERY_STRING} !auth=1
  RewriteCond %{HTTP_COOKIE} !fn_auth_
  RewriteCond %{REQUEST_URI} ^/d/fs01- [NC]
  RewriteRule ^ /d/index.php [R=302,L]
</IfModule>
